<!doctype html>
    <head>
        <title>{"Hello!"}</title>
    </head>
    <body>
        <h1>Hello there!</h1>
        <br>
        <p>Today's Date is:  <span id='Date'></span></p>
        <p>The time is:  <span id='Time'></span></p>
        <p>The Date and Time is:  <span id='DateTime'></span></p>
            <script>
            var current_td_info = new Date();
            var theDate = current_td_info.getMonth() + "-" 
                        + current_td_info.getDay() + "-"
                        + current_td_info.getFullYear();

            var theTime = current_td_info.getHours() + ":"
                        + current_td_info.getMinutes();
            var dateTime = theDate + " | " + theTime;
            document.getElementById('Date').innerHTML=theDate;
            document.getElementById('Time').innerHTML=theTime;
            document.getElementById('DateTime').innerHTML=dateTime;
            </script>

            <label for="status">Task Status:</label>

            <select name="status" id="status">
                <option value="to do">TO DO</option>
                <option value="started">IN PROGRESS</option>
                <option value="done">DONE</option>
            </select>

            <label for="priority">Priority:</label>

            <select name="priority" id="priority" onchange="colorChange(this.options[this.selectedIndex].value);">
                <option value="red">HIGH</option>
                <option value="orange">MEDIUM</option>
                <option value="green">LOW</option>
            </select>
            <p>Words <span id='test'></span></p>
            
            <script>
            var theTest = "all of them";
            document.getElementById('test').innerHTML=theTest;

            function colorChange(c) 
            {
                document.getElementById("test").style.color = c;
            }

            </script>

        <p>Words <span id='test'></span></p>

        <form>
            <div>
                <label for = "title">Visitor log</label>
                <input type = "text" name = "visitor" placeholder = "Enter">
                <button type = "submit">Add</button>
            </div>
        </form>
    </body>
</html>