<!doctype html>
    <head>
        <title>{"Hello!"}</title>
    </head>
    <body>
        <h1>Hello there!</h1>
        <br>
        <p>Today's Date is:  <span id='Date'></span></p>
        <p>The time is:  <span id='Time'></span></p>
        <p>The Date and Time is:  <span id='DateTime'></span></p>
            <script>
            var current_td_info = new Date();
            var theDate = current_td_info.getMonth() + "-" 
                        + current_td_info.getDay() + "-"
                        + current_td_info.getFullYear();

            var theTime = current_td_info.getHours() + ":"
                        + current_td_info.getMinutes();
            var dateTime = theDate + " | " + theTime;
            document.getElementById('Date').innerHTML=theDate;
            document.getElementById('Time').innerHTML=theTime;
            document.getElementById('DateTime').innerHTML=dateTime;
            </script>
        <form action="/add",method="post">
            <div>
                <label for = "title">Visitor log</label>
                <input type = "text" name = "visitor" placeholder = "Enter">
                <button type = "submit">Add</button>
            </div>
        </form>
    </body>
</html>